* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  color: #fff;
}
.container {
  width: 100%;
  height: 100vh;
}
.wrapper {
  background-color: #1b2430;
  width: 70rem;
  height: 40rem;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
}

/* FEATURE: ICONS */
.wrapper-menu-icons {
  width: 70%;
  margin: 1rem;
  /* TEMPORARY */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: #fad9a1;
  border: none;
  outline: none;
  border-radius: 3rem;
}
.icons-row-1 {
  position: absolute;
  top: 3rem;
}
.icons-row-2 {
  position: absolute;
  bottom: 15rem;
}
.icons-row-3 {
  position: absolute;
  bottom: 3rem;
}
.wrapper-menu-icons i {
  font-size: 8rem;
  padding: 1rem;
}

/* END OF MENU ICONS */

/* CART DESIGN */
.wrapper-cart {
  width: 30%;
  background-color: #66bfbf;
  border-radius: 2rem;
  margin: 1rem;
}
.wrapper-cart h1 {
  color: #1b2430;
  margin-left: 2rem;
}
.cart-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}
.cart-card-input {
  position: relative;
  width: 90%;
  height: 2.5rem;
  background-color: #16003b;
  border-radius: 2rem;
  margin-bottom: 0.5rem;
}
.cart-card-input i {
  font-size: 1.5rem;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
}

/* TODO: Making the button align at the right of the quantity card */
.btn-quantity {
  display: flex;
  right: 5rem;
}
.fa-solid.fa-plus {
  /* position: absolute; */
}
.fa-solid.fa-minus {
  /* position: absolute;
  right: 1rem; */
}
